/*For the whole page*/
h3{
    margin:0;
}
p.comment{
    color:green;
}
/*For the toc framework*/
div#page-container{    
    margin: auto;
    width: 70%;
    height: 100%;
    background-color:lightgrey;
}
div#toc{
    width:30%;
    height:100%;
    overflow:hidden;
    float:left;
}
div#footer{
    clear:both;
}
div#document{
    background-color:white;
    float:right;
    width:70%;
}
/*For the toc*/
div.toc-ns-detailbox{
    padding-left:2em;
}
p.toc-namespace{
    cursor:pointer;
}
/*For class page*/
em.title-class{
    color:#2980B9;
}
div.sub-title-methodbox{
    display: inline-block;
    margin: 6px 0;
    background: #e7f2fa;
    border-top: solid 3px #6ab0de;
    padding: 6px;
}
em.sub-title-method{
    color:#2980B9;
}
em.sub-title-methodhider{
    color:grey;
    cursor:pointer;
    font-size:12px;
}
div.class-detailbox{
    padding-left:2em;
}
div.sub-method-detailbox{
    padding-left:2em;
    display:none;
}
/*For namespace page*/
em.title-ns{
    color:#2980B9;
}
div.ns-detailbox{
    padding-left:2em;
}
div.ns-detailbox{
    padding-left:2em;
}
div.sub-class-detailbox{
    padding-left:2em;
    display:none;
}
div.sub-title-classbox{
    display: inline-block;
    margin: 6px 0;
    background: #e7f2fa;
    border-top: solid 3px #6ab0de;
    padding: 6px;
}
em.sub-title-class{
    color:#2980B9;
}
em.sub-title-classhider{
    color:grey;
    cursor:pointer;
    font-size:12px;
}