<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibGit2Sharp" version="0.21.0.176" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0-rc1" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0-rc1" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0-rc1" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.0.0-rc1" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.0.0-rc1" targetFramework="net45" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="PowerYaml" version="1.0.3" targetFramework="net45" />
  <package id="RazorEngine" version="3.4.2" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.33-beta" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.18-beta" targetFramework="net45" />
  <package id="YamlDotNet.Signed" version="3.5.1" targetFramework="net45" />
</packages>