h3{
    margin:0;
}
p.comment{
    color:green;
}
div#document{
    margin: auto;
    width: 70%;
    height: 100%;
}
em.sub-title-class{
    color:#2980B9;
}
em.sub-title-classname{
    ;
}
div.sub-title-methodbox{
    display: inline-block;
    margin: 6px 0;
    background: #e7f2fa;
    border-top: solid 3px #6ab0de;
    padding: 6px;
}
em.sub-title-method{
    color:#2980B9;
}
em.sub-title-methodhider{
    color:blue;
    cursor:pointer;
}
div.class-detailbox{
    padding-left:2em;
}
div.method-detailbox{
    padding-left:2em;
}